.hd-title{
    width: 100%;
    h3{
        width: 100%;
        font-size: 35px;
        padding: 25px 0px;
    }
}
.about-bg{
    width: 100%;
    img{
        width: 100%;
    }
}
.about-info{
    width: 100%;
    h4{
        width: 100%;
        font-size:25px;
        padding:0px 0px 20px 0px;
    }
    p{
        width: 100%;
        font-size: 16px;
    }
}