<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Bootstrap - Button Demo</title>

    <% include /src/include/styles.ejs %>
</head>

<body>

    <% include /src/include/header.ejs %>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hd-title">
                            <h3> About Us</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-bg">
                            <img src="images/pexels-photo-208745.jpeg">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-info">
                            <h4> Lorem ipsum dolor sit amet</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie purus ut enim hendrerit
                                tincidunt. Morbi ac orci neque. Phasellus id turpis feugiat sapien vulputate tincidunt nec
                                et tellus.</p>
                            <p>
                                Morbi mattis lectus risus, at porta neque feugiat ac. Sed sollicitudin scelerisque egestas. Maecenas ac eleifend purus. Praesent
                                auctor placerat erat, ac facilisis ex vehicula sed. Pellentesque feugiat lorem pellentesque
                                tincidunt tempor. .
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie purus ut enim hendrerit tincidunt. Morbi ac orci
                                neque. Phasellus id turpis feugiat sapien vulputate tincidunt nec et tellus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <% include /src/include/footer.ejs %>

            <% include /src/include/scripts.ejs %>
</body>

</html>