<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>Font-awesome</title>
    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

        <main id="lms-page-index">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hd-title">
                            <h3> Font Awesome icon</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                            <i class="fab fa-accessible-icon"></i>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                            <i class="fas fa-allergies"></i>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                            <i class="fab fa-android"></i>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                            <i class="fas fa-address-book"></i>
                        </div>

                    </div>
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                            <i class="fas fa-address-card"></i>
                        </div>

                    </div>
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                            <i class="fas fa-adjust"></i>
                        </div>

                    </div>
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                            <i class="fab fa-adn"></i>
                        </div>

                    </div>
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                            <i class="fab fa-adversal"></i>
                        </div>

                    </div>
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                            <i class="fab fa-affiliatetheme"></i>
                        </div>

                    </div>
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                             <i class="fas fa-sync fa-spin"></i>
                        </div>

                    </div>
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                            <i class="fas fa-circle-notch fa-spin"></i>
                        </div>

                    </div>
                    <div class="col-md-1">
                        <div class="font-awesome-iconbox">
                            <i class="fas fa-spinner fa-spin"></i>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <% include /src/include/footer.ejs %>

            <% include /src/include/scripts.ejs %>
</body>

</html>