<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">

    <title>Bootstrap - Button Demo</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <main id="lms-page-index">
        <div class="container">
            <div class="row animated fadeInRight">
                <div class="col-md-12">
                    <h3 class="p-5">Animated Css Exmaple</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="animated-box animated bounce">
                        <h4>bounce</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue. Donec non vulputate elit. Nulla ac pretium neque.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="animated-box animated bounceInLeft">
                        <h4>animated bounceInLeft</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue. Donec non vulputate elit. Nulla ac pretium neque.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="animated-box animated flash">
                        <h4>flash</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue. Donec non vulputate elit. Nulla ac pretium neque.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="animated-box animated rubberBand">
                        <h4>flash</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue. Donec non vulputate elit. Nulla ac pretium neque.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="animated-box animated swing">
                        <h4>swing</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue. Donec non vulputate elit. Nulla ac pretium neque.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="animated-box animated tada">
                        <h4>tada</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue. Donec non vulputate elit. Nulla ac pretium neque.</p>
                    </div>
                </div>
            </div>
            <div class="row animated fadeInRight">
                <div class="col-md-12">
                    <h3 class="p-5">Sweet Alert Exmaple</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="sweetalert">
                            <button class="swal"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <% include /src/include/footer.ejs %>

    <% include /src/include/scripts.ejs %>
</body>

</html>