<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">

    <title>Bootstrap - Button Demo</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

        <main id="lms-page-index">
            <div class="container">
                <div class="row animated fadeInRight">
                    <div class="col-md-12">
                        <div class="hd-title">
                            <h3> Animated Css Exmaple</h3>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="animated-box animated bounce">
                            <h4>bounce</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat
                                lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue.
                                Donec non vulputate elit. Nulla ac pretium neque.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="animated-box animated bounceInLeft">
                            <h4>animated bounceInLeft</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat
                                lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue.
                                Donec non vulputate elit. Nulla ac pretium neque.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="animated-box animated flash">
                            <h4>flash</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat
                                lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue.
                                Donec non vulputate elit. Nulla ac pretium neque.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="animated-box animated rubberBand">
                            <h4>flash</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat
                                lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue.
                                Donec non vulputate elit. Nulla ac pretium neque.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="animated-box animated swing">
                            <h4>swing</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat
                                lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue.
                                Donec non vulputate elit. Nulla ac pretium neque.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="animated-box animated tada">
                            <h4>tada</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sem diam, id consequat
                                lectus eleifend quis. Etiam in risus efficitur, vestibulum velit sit amet, finibus augue.
                                Donec non vulputate elit. Nulla ac pretium neque.</p>
                        </div>
                    </div>
                </div>
                <div class="row animated fadeInRight">
                    <div class="col-md-12">
                        <div class="hd-title">
                            <h3>Sweet Alert Exmaple</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="sweetalert">
                            <button class="btn btn-info hello">Click here </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sweetalert">
                            <button class="btn btn-info promises">Promises </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sweetalert">
                            <button class="btn btn-info sure">Are  you sure </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sweetalert">
                            <button class="btn btn-info delete-account">Good job </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <% include /src/include/footer.ejs %>

            <% include /src/include/scripts.ejs %>
                <script>

                    $('button.hello').click(function (e) {
                        swal("Hello world!");
                    });

                    $('button.delete-account').click(function (e) {
                        swal("Good job!", "You clicked the button!", "success");
                    });

                    $('button.promises').click(function (e) {
                        swal("Click on either the button or outside the modal.")
                            .then((value) => {
                                swal(`The returned value is: ${value}`);
                            });
                    });

                    $('button.sure').click(function (e) {
                        swal({
                            title: "Are you sure?",
                            text: "Once deleted, you will not be able to recover this imaginary file!",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                            .then((willDelete) => {
                                if (willDelete) {
                                    swal("Poof! Your imaginary file has been deleted!", {
                                        icon: "success",
                                    });
                                } else {
                                    swal("Your imaginary file is safe!");
                                }
                            });
                    });


                </script>
</body>

</html>